@page
@using LaYumba.Functional
@using ShoppingList.Auth
@model ShoppingList.Pages.Protected.ShoppingLists

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>

    <div>
        username: @Model.CurrentUser.Map(user => user.Username).GetOrElse("error")
    </div>

    <div>
        userId: @Model.CurrentUser.Map(user => user.UserId).GetOrElse(0)
    </div>


    <form method="post" asp-page-handler="open">
        <ol>
            @{
                var existingListsIds = Model.ShoppingListReadDtos.Map(i => i.Id);

                foreach (var id in existingListsIds)
                {
                    <li>@id</li>
                    <button type="submit" name="shoppingListId" value="@id">Open list: @id</button>
                }
            }
        </ol>
    </form>

    <form asp-page-handler="Create" method="post">

        <div>
            <input asp-for="ShopName" id="shopName" placeholder="shop name" type="text">
            <span asp-validation-for="ShopName" class="text-danger"></span>
        </div>
        <div>
            <button id="submit">Create New</button>
        </div>
    </form>

    <span class="text-danger">
        @Model.ErrorText
    </span>
</div>
</body>
</html>